@mixin button {
	display: block;
	background-color: transparent;
	border-radius: 2px;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.1s linear;
	box-sizing: border-box;
}

